.valign-center{
  display: flex;
  align-items: center;
}

.main-body {
  margin-top: 6rem;
}

.navbar-nav .nav-link.add-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.add-button b{
  margin-left: 0.5rem;
}

.bg-dark.navbar-dark .navbar-nav .nav-link.add-button:hover,
.bg-dark.navbar-dark .navbar-nav .nav-link.add-button:focus,
.bg-dark.navbar-dark .navbar-nav .nav-link.add-button:active {
  color: #18BC9C !important;
}

.new-task.show {
  display: block;
  background-color: #00000082;
}

.task-links button {
  margin: 0 0.2rem;
}

.task-title {
  margin-bottom: 0;
}

.task-title.completed {
  text-decoration: line-through;
}

.task-links .loader {
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
}

.add-task-btn {
  border: 1px solid black !important;
}

.card-title.date-display {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.add-task-form {
  margin-top: 1rem;
}
